.gradle/
.gradle-tmp/
.gradle-home/
.kotlin/
.idea/
.avd/
local.properties
**/build/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.hprof
*.apk
signing.properties
.signing/
screenshots/
dist/
.claude/
.tmp/

# Visuelle skisser frå brainstorming
.superpowers/
